<div *ngIf="loading" class="fixed inset-0 bg-black bg-opacity-40 flex items-center justify-center z-50">
  <div class="animate-spin rounded-full h-16 w-16 border-t-4 border-blue-500"></div>
</div>
<div *ngIf="!loading" class="min-h-screen bg-gray-900 text-white">
 <app-header (openWalletSelector)="openModal($event)"></app-header>

  <main class="container mx-auto px-4 py-8">
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-6">
      <div class="lg:col-span-2 bg-gray-800 rounded-xl p-6">
        <app-quotation (refreshQoute)="getQuotation()"  (activeQuotation)="updateActiveQuotation($event)" [quotation]="quotation"></app-quotation>
      </div>
      
      <div class="bg-gray-800 rounded-xl p-6">
       <app-swap-section (openTokenSelector)="openModal($event)" (openWalletSelector)="openModal($event)"[activeQuote]="activequotation" [combination]="combination" (updateCombination)="updateCombination($event)"></app-swap-section>

        
      </div>
    </div>

    
    <app-history></app-history>
  </main>
  <app-modal [isOpen]="isModalOpen" [activeModal]="activeModal" (isOpenChange)="isModalOpen = $event">
    
    
   
  </app-modal>
  
    
  
</div>