
    <div class="space-y-4">
      <div class="bg-gray-700 h-20 rounded-lg flex">
        
        <label class="block text-sm mb-2"></label>

        <input type="number"  class="w-full  p-3   outline-none">
      </div>
      <div class="bg-gray-700 h-20 rounded-lg flex">
        <label class="block text-sm mb-2"></label>
        
          <input type="number" class="w-full  p-3 outline-none">
      
       
      </div>
      
      <button type="submit"  class="w-full py-3 rounded-lg text-black font-semibold" >Buy BTC</button>
    </div>
  