
    <div class="space-y-4">
     
      <div class="bg-gray-700 h-20 rounded-lg flex">
        <img class=" relative h-[50px] top-[13px] left-4" [src]="combination.sourceNetwork.logo"/>
        <img class="relative h-[20px] top-[50px] right-[-4px]" [src]="combination.sourceToken.icon_url"/>
        <label class="block text-sm mb-2"> </label>

        <input [value]="combination.amount" type="number"  class="w-full  p-3   outline-none">
      </div>
      <div class="bg-gray-700 h-20 rounded-lg flex">
        <label class="block text-sm mb-2"></label>
        <img class=" relative h-[50px] top-[13px] left-4" [src]="combination.destinationNetwork.logo"/>
        <img class="relative h-[20px] top-[50px] right-[-4px]" [src]="combination.destinationToken.icon_url"/>
        
          <input type="number" class="w-full  p-3 outline-none">
      
       
      </div>
      
      <button type="submit"  class="w-full py-3 rounded-lg text-black font-semibold" >Buy BTC</button>
    </div>
  