<div class="space-y-4">

  <div class="bg-gray-700 h-20 rounded-lg flex">
    <div class=" flex" (click)="openPopup('fromTokenSelector')">
      <img class=" rounded-full relative h-[50px] top-[13px] left-4" [src]="combination.sourceNetwork.logo" />
      <img class="relative h-[20px] top-[50px] right-[-4px]" [src]="combination.sourceToken.icon_url" />
    </div>

    <label class="block text-sm mb-2"> </label>

    <input [value]="combination.amount" type="number" class="w-full  p-3   outline-none">
  </div>
  <div class="bg-gray-700 h-20 rounded-lg flex">
    <div class="flex" (click)="openPopup('toTokenSelector')">
      <img class=" rounded-full relative h-[50px] top-[13px] left-4" [src]="combination.destinationNetwork.logo" />
      <img class="relative h-[20px] top-[50px] right-[-4px]" [src]="combination.destinationToken.icon_url" />
    </div>

    <input [value]="activeQuote.toAmount.toFixed(4)" type="number" class="w-full  p-3 outline-none">


  </div>
  <div>

    <div class=" flex justify-between my-4">
      <h3>Min-recieved</h3>
      <h5>{{activeQuote.additionalInfo.minRecieved|number:'1.2-3'}} {{!activeQuote.additionalInfo.minRecieved?'Market Price':''}}</h5>
    </div>
    <div class=" flex justify-between my-4">
      <h3>
        Difference
      </h3>
      <h5>
        {{ getNegativeValue(activeQuote?.additionalInfo?.priceImpactWithoutGasFee) ? '' : '+'}}{{ getNegativeValue(activeQuote?.additionalInfo?.priceImpactWithoutGasFee) | number:'0.1-1'}}%
      </h5>
    </div>
    <div class=" flex justify-between my-4">
      <h3>
        1 {{ activeQuote?.toTokenInfo?.token_symbol }} <span *ngIf="!isBridge(activeQuote)">BUY</span> <span *ngIf="isBridge(activeQuote)">AVG.</span> PRICE
      </h3>
      <h5>
        ~ ${{ activeQuote?.additionalInfo?.avgPrice['to'] |  number:'1.0-4'}}
      </h5>
    </div>
    <div class=" flex justify-between my-4">
      <h3>
        1 {{ activeQuote?.fromTokenInfo?.token_symbol }} Sell Price
      </h3>
      <h5>
        ~ ${{ activeQuote?.additionalInfo?.avgPrice['from'] |  number:'1.0-4'}}
      </h5>
    </div>
  </div>


  <button type="submit" class="w-full py-3 rounded-lg text-black bg-yellow-400 font-semibold">Buy BTC</button>
</div>
