.logo {
    height: 25px;
    width: 25px;
    border-radius: 50px;
    padding: 1px;
    @media only screen and (max-width : 576px){
        height: 20px;
        width: 20px;
    }
}
.max-content{
	width: max-content;
}
.networks{
	margin: 0;
	padding: 0;
	align-content: baseline;
	height: inherit;
	// background: var(--he-background-3);
	// width: 40%;
	// max-width: 160px;
	border-right: 2px solid var(--c-hard-gray);
	padding-right: 3px;
	display: grid;
	// padding: 0.5rem 3px 0.5rem 0.5rem;
	.network-box-parent {
		display: flex;
	}
	.network-box{
		overflow-y: auto;
		// max-height: 520px;
		// display: flex;
		// flex-direction: row;
		// flex-wrap: wrap;
		// padding: 5px;
		// padding: 0px 10px;
	}
	.network{
		cursor: pointer;
		padding: 0;
		.network-child {
			// border: 1px solid var(--he-background-2a) !important;
			display: flex;
			align-items: center;
			gap: 10px;
			padding: 12px 20px;
			@media only screen and (max-width : 576px){
				padding: 12px 0 12px 7px;
			}
			
			// justify-content: center;
			// flex-flow: column;
			// height: 100%;
			// border-radius: 4px;
			// padding: 0.5rem 0.1rem;
			&.active{
				background: var(--c-primary) !important;
				color: var(--c-highlight);
			}
			.text {
				word-wrap: break-word;
				word-break: break-word;
				text-align: center;
			}
		}
		
	}
}

.modal-body{
    // height: 600px;
    .heading{
        font-size: 1rem;
        margin: 1rem 0.6rem;
        font-weight: 700;
    }
}
.close-btn {
    right: 30px;
    top: 1rem;
}

.disabledCoin {
	opacity: 0.2;
}
.dropdown-item{
	white-space: pre-wrap
}
.header{
	font-size: 13px;
	margin-top: 1rem;
}
.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 0rem;
}
ol, ul {
    /* padding-left: 2rem; */
	padding-left: 0rem;
}
.content-wrapper{
	// height : 520px;
	height: max-content;
}

.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    // line-height: 1;
	color: #6d6d78;
    text-shadow: 0 1px 0 #fff;
   
}
.close:hover{
	opacity: 0.75;
}
.top{
	padding: 2rem 2rem 1rem;
	background: var(--he-background-8);
}
.token-box-wrapper {
	position: relative;
	overflow-y: hidden;
	margin-top: 0.1rem;
	.tokenBox {
		height: 100%;
		padding-bottom: 0.5rem;
		overflow-y: auto;
		overflow-x: hidden;
	}
	.coinRow {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0.3rem 0.25rem 0.3rem 0.5rem;
		font-size: 13px;
		border-radius: 0.25rem;
		cursor: pointer;
	
		.token-full-name {
			width: 20%;
			font-size: 12px;
			color: darkgray;
			display: flex;
			grid-gap: 10px;
			justify-content: flex-end;
			align-items: baseline;
			.copy-address-icon {
				margin: 0px 15px 0px 0px;
				width: 1rem;
				position: relative;
				top: 1px;
				font-size: 13px;
				color: white;
				cursor: pointer;
			}
			.favourite-token{
				font-size: 13px;
				// margin: 0rem 0.5rem 0rem 0rem;
				cursor: pointer;
				opacity: 0.7;
				&.favourite{
					color: var(--he-accent-2);
					opacity: 1;
				}
			}
		}
	}
	.coinRow:hover{
		background-color: var(--he-background-5);
	}

	.pagination-loader{
		z-index: 200;
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0;
		background: var(--he-background-7);
		opacity: 0.75;
		.spinner-border{
			top: 50%;
			position: absolute;
			left: calc(50% - 16px );
			border: 2px solid currentColor;
			border-right-color: transparent;
		}
	}
}
.coin {
	display: flex;
	align-items: center;
	padding: 0.2rem 0rem;
	// width: 80%;
	justify-content: space-between;
	&.custom{
		// width: 60%;
	}
	.import-button{
		width: 40%;
	}
    .token-symbol {
        display: flex;
        align-items: center;
		max-width: 50%;
		.name{
			display: flex;
			flex-direction: column;
			align-content: flex-start;
			text-align: left;
			.symbol{

			}
			.description{
				color: var(--he-text-subtle);
				font-size: 11px;
			}
		}
        img {
            margin-right: 0.4rem;
        }
    }
}

.searchtoken {
	color: var(--dark-text-primary);
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	width: 100%;
	align-items: center;
	justify-content: space-between;
	margin: 0 0 0.5rem 0;
	grid-gap: 10px;
	padding-right: 1rem;
	padding-left: 0.6rem;

	ul, li {
		list-style-type: none;
	}
	ul{
		margin-bottom: 0rem;
	}
	.select-network{
		width: 60%;
		@media only screen and (max-width : 400px){
			width: 50%;
		}
		background-color: var(--he-background-2);
		font-size: 12px;
		
		height: 50px;
		cursor: pointer;
		.dropdown{
			a{
				color : var(--he-text-main);
				grid-gap: 5px;
			}
			.network-container{
				height: 50px;				
				display: flex;
				align-items: center;
				padding: 5px;
				justify-content: space-evenly;
			}
			.dropdown-menu {
				padding: 0;
				background-color: var(--he-background-3);
				box-shadow: 0px 0px 8px 6px #0000002e;
				font-size: 12px;
				width: 100%;
				.network-search-box{
					width: 100%;
					padding: 7px 12px;
					height: 35px;
					font-size: 12px;
					border-radius: 4px!important;
				}
				.nw-c{
					max-height: 285px;
					overflow-y: auto;
					@media only screen and (max-width : 400px){
						max-height: 300px;
					}
				}
				li{
					padding: 10px 5px;
					@media only screen and (max-width : 400px){
						padding: 5px 5px;
					}
					margin: 5px;
					border-radius: 0.25rem;
				}
				li:hover{
					background-color: var(--he-background-4);
				}
				li.no-hover:hover{
					background-color: transparent;
				}
				.network-name-icon{
					display: flex;
					grid-gap: 5px;
					align-items: center;	
				}
				.network-filters{
					display: flex;
					grid-gap: 5px;
					font-size: 11px;
					padding: 0px 0.6rem 0.5rem 0.3rem;
					color: var(--he-text-main);
					font-weight: 100;
					flex-wrap: wrap;
					.filter{
						padding: 5px 10px;
						border-radius: 30px;
						background: var(--he-background-5a);
						&.active{
							background: var(--he-accent-1);
						}
					}
				}
			}
		}
	}
	input {
		font-family: DM Sans, FontAwesome;
		background-color: var(--he-background-2);
		color : var(--he-text-main);
		width: 50%;
		border-radius: 0.25rem;
		padding: 8px 8px 8px 20px;
		font-size: 12px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		// font-weight: 500;
		position: relative;
		outline: none;
		border: none;
		flex: 1 1 auto;
		-webkit-appearance: textfield;
		-moz-appearance: textfield;
		appearance: textfield;
		text-align: left;
		height: 50px;

		&::placeholder {
			color: lightgray;
			opacity: 1; /* Firefox */
		}

		&:-ms-input-placeholder {
			/* Internet Explorer 10-11 */
			color: lightgray;
		}

		&::-ms-input-placeholder {
			/* Microsoft Edge */
			color: lightgray;
		}
	}
}

.commonTokens {
	display: flex;
    // margin: 0 0 1rem 0;	
	justify-content: center;
	padding-left: 0.4rem;
    padding-right: 0.8rem;
	.coinWrapper{
		padding: 0rem 0.2rem;
	}
	.topCoin{
		display: flex;
		align-items: center;
		cursor: pointer;
		font-size: 12px;
		grid-gap: 0.5rem;
		border-radius: 0.25rem;
		padding: 0.3rem;
		margin: 0.25rem 0rem;
		justify-content: center;
		background-color: var(--he-background-2);
		img {
			width: 20px;
			height: 20px;
		}
	}
	.topCoin:hover{
		background-color: var(--he-background-5);	
	}
	.disabledTopCoin{
		background-color: var(--dark-text-light);
		cursor: not-allowed;
		opacity: 0.5;	
	}
}

.wallet {
	padding: 1rem;
	transition: transform 0.1s linear 0s;
	box-shadow: 10px 30px 40px rgb(0 0 0 / 3%);
	border-radius: 20px;
	background-color: var(--dark-bg-2);
	color: var(--dark-text-light);
	cursor: pointer;
}

.wallet:hover {
	background: rgb(210 212 213 / 48%);
	transform: translateY(-5%);
}

.wallet:active {
	transform: translateY(0%);
}

.load-wallet {
	padding: 1em;
	.op-p5 {
		opacity: 0.5;
	}

	.spinner-properties {
		font-size: 12px;
		padding: 1.1em;
	}
}
.CustomToken{
	font-size: 13px;
	cursor: pointer;
	// position: relative;
	.info-icon{
		// margin: 0px 8px 0px 0px;
		// position: absolute;
	}

}
.import-btn, .custom-import-btn {
	background: var(--he-accent-1);
    color: var(--he-text-main);
	font-size: 13px;
    border: none;
}

.import-btn {
	font-size: 10px;
	padding: 0.3rem;
    margin-right: 0.4rem;
}
.go-back-btn{
	color: var(--he-text-main);
    font-size: 13px;
	background: var(--he-background-2);
}
.confirmationBox{
	display: flex;
	flex-direction: column;
	border-radius: 0.75rem;
	align-items: center;
	// min-height: 15rem;		
	.tokenDetails{
		margin: 3rem 1rem 0;
		border: 1px solid var(--he-background-2a);
		padding: 0.5rem 1rem 0.5rem 1rem;
		border-radius: 0.5rem;
		font-size: 12px;
		display: flex;
		flex-flow: column;
		width: fit-content;
		max-width: calc(100% - 2rem);
		.token-symbol{
			display: flex;
			margin: 0px 0px 8px;
			align-items: center;
			justify-content: space-between;
			.logo{
				// margin: 0 0 0 -10px;
			}
		}
		.address{
			overflow: hidden;
			text-overflow: ellipsis;
			display: flex;
			text-align: center;
			align-items: center;
			justify-content: center;
			.custom-token-address {
				// max-width: 80%;
				overflow: hidden;
				text-overflow: ellipsis;
			}
			.copy-button{
				// margin: 0 0 0 20px;
				padding: 0.6rem;
				cursor: pointer;
			}
		}
	}
	.description{
		background: var(--grey-bg-2);
		border-radius: 10px;
		// padding: padding: 1rem 2.5rem;
		padding: 1rem 2.5rem;
		font-size: 13px;
		.warning{
			color: var(--he-warning);
			i{
				font-size: 14px;
			}
		}
	}
	.token-description{
		color: var(--he-text-subtle);
		font-size: 11px;
	}
}
.modal-footer{
	border: none;
}
a:hover {
    text-decoration: none;
}

.error-msg{
	text-align: center;
    padding: 20px 40px;
    font-size: 12px;
    color: var(--he-text-subtle);
}


.small-spinner{
	font-size: 5px;
    height: 1rem;
    width: 1rem;
}
[type="search"]::-webkit-search-cancel-button {
	-webkit-appearance: none;
	appearance: none;
	height: 10px;
	width: 10px;
	background-image: none;
	background-size: 10px 10px;
  }
  .pd-0{
	padding: 0.5rem 0.5rem;
    margin: 0rem 0rem;
  }

.modal-body{
    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: var(--he-background-2); 
      border-radius: 4px;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: var(--he-background-2); 
    }
    
    ::-webkit-scrollbar-track {
        box-shadow: none;
        border-radius: 10px;
    }
}

.modal-inner-content {
    font-size: 13px;
    height: inherit;
	max-height: 600px;
	height: 600px;
    .token-body{
        height: inherit;
        display: flex;
        // grid-gap:2%;
        .networks{
            align-content: baseline;
            height: inherit;
            background: var(--he-w3dv-background);
            // width: 40%;
            // max-width: 160px;
            padding-right: 3px;
            display: grid;
            padding: 0.5rem 3px 0.5rem 0.5rem;
            .network-box-parent {
                display: flex;
            }
            .network-box{
                overflow-y: auto;
                
               
            }
            .network{
                cursor: pointer;
                padding: 0.3rem;
                .network-child {
					position: relative;
                    border: 1px solid var(--he-background-2a) !important;
                    display: flex;
                    justify-content: center;
                    flex-flow: column;
                    align-items: center;
                    height: 100%;
                    border-radius: 0.5rem;
                    padding: 0.5rem 0.1rem;
                    &.active{
                        background: var(--he-background-5);
                        background: var(--he-background-2);
                    }
                    .text {
                        word-wrap: break-word;
                        word-break: break-word;
                        text-align: center;
                    }
                }
                
            }

			.network-filters{
				display: flex;
				grid-gap: 5px;
				font-size: 11px;
				padding: 0px 0.6rem 0.5rem 0.3rem;
				color: var(--he-text-main);
				font-weight: 100;
				flex-wrap: wrap;
				.filter{
					padding: 5px 10px;
					border-radius: 30px;
					background: var(--he-background-5a);
					&.active{
						background: var(--he-accent-1);
					}
				}
			}
        }
        .tokens{
            align-content: baseline;
            // width: 80%;
            padding: 0.5rem 3px 0.5rem 0.5rem;
            display: grid;
			@media only screen and (max-width : 576px){
				padding-left: 0.2rem;
			}
            .network-name{
                margin: 5px 0.6rem;
                display: flex;
                align-items: center;
                img {
                    height: 28px;
                    width: 28px;
                    margin-left: 12px;
                }
            }
            .tokens-container{
                overflow-y: auto;
                .notes{
                    .header{
                        color: var(--he-warning);
                        font-weight:600;
                        margin-bottom: 10px;
                    }
                    font-weight: 100;
                    margin: 30px 10px;
                    border: dashed 1px var(--he-text-subtle);
                    border-radius: 8px;
                    padding: 15px;
                }
            }

            .token {
                @media only screen and (max-width : 576px){
                    padding: 0.6rem;
                }
                &.err{
                    opacity: 0.5;
                }
                border: 1px solid var(--he-background-2a);
                padding: 0.5rem 1rem 0.5rem 1rem;
                border-radius: 0.5rem;
                cursor: pointer;
                display: flex;
                justify-content: space-between;
                margin: 0.5rem;
                align-items: center;
				word-wrap: break-word;
				word-break: break-all;
				position: relative;
                .title{
                    align-content: center;
                    padding: 2px 0px;
                }            
                .error-icon{
                    margin: 0 0 0 5px;
                    color: var(--he-warning);
                }
				.icon {
					.favourite-token{
						font-size: 13px;
						// margin: 0rem 0.5rem 0rem 0rem;
						cursor: pointer;
						opacity: 0.7;
						&.favourite{
							color: var(--he-success);
							opacity: 1;
						}
					}
					max-width: 50%;
					display: flex;
					align-items: center;
					.token-actions {
						margin: 0 0.3rem;

						i {
							padding: 0 0.3rem;
						}
					}
				}
            }
            
            .token:hover {
                background-color: var(--he-background-5);
            }

			.token {
				
			}
        }
    }
}



.token-actions {

}
.networkDisabled {
    background: #202037;
    opacity: 0.5;
}
.modal-inner-content.custom-import-confirm {
	height: initial;
}

.network-warning {
	opacity: 0.7;
	position: absolute;
	top: 5px;
	right: 5px;
	font-size: 11px;
}