<div *ngIf="isOpen" (click)="close()"  class="fixed inset-0 bg-opacity-90 flex items-center justify-center z-50">
    <!-- Modal Box -->
    <div (click)="stopPropagation($event)"  class="bg-gray-800 rounded-2xl shadow-xl w-full max-w-md p-6">
     <div *ngIf="activeModal==='walletSelector'">
        <app-walletselect (close)="close()"></app-walletselect>

     </div>
     <div *ngIf="['fromTokenSelector','toTokenSelector'].includes(activeModal)">
      <app-tokenselection [modalType]="activeModal" (close)="close()"></app-tokenselection>

     </div>
     <div *ngIf="['initiateTransaction'].includes(activeModal)">
      <app-transaction  (close)="close()"></app-transaction>
     </div>
     <div *ngIf="['history','activeHistory'].includes(activeModal)">
      <app-history  [modalType]="activeModal"></app-history>

     </div>
    </div>
  </div>